body main table {
  border: #b2b2b2 1px solid;
}

body main table td,
body main table th {
  border: black 1px solid;
}

body main table tr:first-child {
  background-color: #0377e4;
}

body main table #celda2 {
  background-color: red;
}

body main table #celda6 {
  background-color: pink;
}

body main table .color {
  color: red;
}
