* {
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: 1100px) {
  .col-xl {
    flex: 60%;
  }
}

@media (min-width: 800px) {
  .col-xl {
    flex: 60%;
  }
}

@media (min-width: 765px) {
  .col-xl {
    flex: 50%;
  }
}

@media (min-width: 600px) {
  .col-xl {
    flex: 50%;
  }
}

@media (min-width: 500px) {
  .col-xl {
    flex: 50%;
  }
}

body main .container {
  display: block;
  margin: 10%;
  background-color: rgba(230, 230, 230, 0.39);
  border-radius: 10px;
}

body main .container .row .cabecera {
  text-align: center;
  margin: 20px 0px;
  border-bottom: 1px solid #cacaca;
}

body main .container .row .cabecera p {
  color: #68cefd;
  font-weight: bold;
  font-size: 25px;
}

body main .container .row .centro {
  width: 60%  !important;
  text-align: center;
}

body main .container .row .centro button {
  margin-bottom: 30px;
  background-color: #68cefd;
  border-color: #68cefd;
}
