* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lucida Sans Unicode;
}

body {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.178);
  width: 900px;
  text-align: justify;
  margin: 10px auto;
}

body .caja {
  overflow: auto;
  background-color: white;
  border-radius: 15px;
}

body .caja header img {
  display: block;
  margin: auto auto;
  margin-top: 10px;
}

body .caja header h1 {
  text-align: center;
  margin-top: 15px;
}

body .caja header h1 #parque {
  color: green;
}

body .caja header h1 #lugar {
  color: orange;
}

body .caja .main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body .caja .main nav {
  margin-top: 20px;
  margin-left: 15px;
  float: left;
  font-size: 13px;
}

body .caja .main nav ul {
  list-style-type: none;
}

body .caja .main nav ul .actual {
  background-image: linear-gradient(180deg, white 30%, orange);
}

body .caja .main nav ul li {
  border-style: solid;
  border-color: #e4e4e4;
  border-width: thin;
  background-color: #70af0a;
  background-image: linear-gradient(180deg, white 30%, #70af0a);
  margin-bottom: 5px;
  text-align: center;
  padding: 10px 20px;
}

body .caja .main nav ul li a,
body .caja .main nav ul li a:link,
body .caja .main nav ul li a:visited {
  text-decoration: none;
  color: black;
}

body .caja .main nav ul li:hover {
  background-image: linear-gradient(180deg, orange 30%, #70af0a);
}

body .caja .main .main-contenido {
  border: thin solid #dadada;
  background-image: linear-gradient(180deg, #e4e4e4, white, white, white, #e4e4e4);
  border-width: 2px;
  margin: 20px 15px;
}

body .caja .main .main-contenido .main-titular {
  color: #70af0a;
  margin-bottom: 5px;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: #cfdfb5 1px solid;
}

body .caja .main .main-contenido section {
  margin-left: 25px;
  max-width: 95%;
  text-align: left;
}

body .caja .main .main-contenido section p {
  margin-bottom: 20px;
}

body .caja .main .main-contenido section .animal .nombreAnimal {
  color: orange;
}

body footer {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.486);
  text-align: center;
  margin-top: -14px;
  margin-bottom: 5px;
  font-style: italic;
}

body footer a {
  text-decoration: underline;
  color: rgba(128, 128, 128, 0.486);
}
