body main {
  background-color: #72b7f8;
  width: 500px;
}

body main #mario {
  height: 200px;
  background: url(../img/f01.png) left bottom repeat-x, url(../img/f02.png) left bottom no-repeat, url(../img/f03.png) left top repeat-x;
}
