* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  

/* Header */

header{
    align-content: center;
    margin-top: 20px;
    padding: 20px;
}

/* Body */

h1,h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    margin-bottom: 10px;
}

.container{
    background-color: rgb(213, 234, 252);
    margin: 20px 10px;
    padding-bottom: 10px;
    
}

.container-body{
    margin-left: 30px;
    margin-right: 30px;
}

ol {
    margin-top: 10px;
    margin-left: 40px;
}

section {
    margin: 10px;
    margin-bottom: 20px;
}



/* Footer */