main .contenedor-destacado {
  background-color: #dadada;
  margin: 20px 0px;
  padding: 10px;
}

main .contenedor-destacado .contenedor-destacado-contenido {
  margin: 30px;
}

main .contenedor-destacado .contenedor-destacado-contenido h1 {
  font-size: 40px;
}

main .contenedor-destacado .contenedor-destacado-contenido p {
  font-size: 25px;
}

main .contenedor-titulares {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

main .contenedor-titulares .card .card-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
