body {
    main {
        table {
            border: #b2b2b2 1px solid;

            td,
            th {
                border: black 1px solid;
            }

            

            tr:nth-child(even) {
                background-color: #a8d0f6;
            }

            tr:nth-child(odd) {
                background-color: #ebf7f9;
            }
            
            tr:first-child{
                background-color: #0377e4;
            }
        }
    }
}
