body main .container table {
  border: #b2b2b2 1px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

body main .container table td,
body main .container table th {
  border: black 1px solid;
}

body main .container table .mismoPrecio {
  background-color: #ebf7f9;
}

body main .container table .ultimaFila {
  background-color: #a8d0f6;
}

body main .container table tr:first-child {
  background-color: #0377e4;
}
