* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/215878.png");
}

body main {
  display: flex;
  justify-content: center;
}

body main .contenedor-flex {
  margin: 20%;
  width: 50%;
}

body main .contenedor-flex .contenedor-flex-titulo {
  color: white;
  text-align: center;
}

body main .contenedor-flex .contenedor-flex-formulario {
  background-color: white;
  border-radius: 5px;
}

body main .contenedor-flex .contenedor-flex-formulario .contenedor-formulario {
  background-color: #b6b6b6;
  margin: -8px;
  padding: 10px;
}

body main .contenedor-flex .contenedor-loginwith {
  color: white;
  text-align: center;
}

body main .contenedor-flex .contenedor-btn-bottom {
  align-self: center;
}

body main .contenedor-flex .contenedor-btn-bottom .fa {
  padding: 15px 15px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
  font-size: 30px;
}

body main .contenedor-flex .contenedor-btn-bottom .fa:hover {
  opacity: 0.7;
}

body main .contenedor-flex .contenedor-btn-bottom .fa-facebook {
  background: #3b5998;
  color: white;
}

body main .contenedor-flex .contenedor-btn-bottom .fa-twitter {
  background: #55acee;
  color: white;
}

body main .contenedor-flex .contenedor-btn-bottom .fa-google {
  background: #dd4b39;
  color: white;
}
