main {
  margin: 20vw 20vh;
}

main .calculadora {
  background-color: #7c8efb;
  width: 250px;
  text-align: center;
  padding: 15px;
}

main .calculadora #pantalla {
  background-color: white;
  width: 175px;
  margin-left: 15%;
}

main .calculadora #botones {
  display: flex;
}

main .calculadora #botones input {
  border-style: none;
  background-color: #c8d0fc;
  width: 35px;
}
