body main table {
  text-align: center;
  border: #b2b2b2 1px solid;
}

body main table td,
body main table th {
  border: black 1px solid;
}

body main table tr {
  background-color: #f0c679;
}

body main table #tipoRaza {
  background-color: yellow;
}

body main table #tipoDatos {
  background-color: orange;
}

body main table tr:first-child {
  background-color: #1f8d0a;
}
